@import '../var.styl'
/* Mobile First CSS */
#notebook
  width: 100%
  margin: auto
  background: rgba(255, 255, 255, 0.9)
  position: relative
  font-family: font-main
  overflow: hidden

/* Mobile + */
//@media (min-width: 400px)

/* Phablets */
//@media (min-width: 550px)

/* Tablettes */
//@media (min-width: 750px)
/* Desktop */
@media (min-width: 1000px)
  #notebook
    width: 80%
    border-radius: 1em
    border: 10px solid #1a661a
    margin-top: 1em

/* Desktop HD */
@media (min-width: 1200px)
  #notebook
    width: 70%

/* Desktop Wide */
//@media (min-width: 1400px)
