 @import "../var.styl"
 /* Mobile First CSS */
  #notifications

    &-title
      color: #FFF
      font-size: 1.3em
      margin-bottom: 0.3em
      padding: 0
      font-weight: normal
      font-family: font-title

    &-counter
      display: inline-block
      position: relative
      cursor: pointer
      z-index: 2
      color: #c0eabc
      position: absolute
      right: 1em
      top: 1em
      &-icon
        font-size: 3em
        position: absolute
        top: 15px
        right: 15px
      &-count
        position: absolute
        top: 12px
        right: 12px
        padding: 2px 4px;
        font-size: 1em
        display: inline-block;
        border-radius: 30%
        background: #3fa535
        border: 1px solid #FFF
        color: #FFF
        font-weight: bold
        z-index: 1
        user-select: none

    &-messages
      &-container
        padding: .5em .5em .5em .5em
        background: #000
        width: 100%
        color: #FFF
        position: absolute
        left: 0px
        top: 0px
        transition: all 1s
        min-height: 100px

.hide-notif
  //opacity: 0
  top: -120px!important
  position: absolute
  //transform: rotate(270deg);

.close-notif
  margin-left: .5em

.active-counter
  color: #3fa535
  transition: color 1s
.notif
  margin: .2em
  &:before
    content: "- "
  a:hover
    color:#9b35a5
.notif i
  cursor: pointer

 /* Mobile + */
 //@media (min-width: 400px)

 /* Phablets */
 //@media (min-width: 550px)

 /* Tablettes */
 //@media (min-width: 750px)

/* Desktop */
@media (min-width: 1000px)
  #notifications
    &-title
      font-size: 1.5em
    &-counter
      &-icon
        right: 1
      &-count
        //right: -2
    &-messages
      &-container
        right: 40px
        top: 0em
        padding: 1em 1em 1em 2em

 /* Desktop HD */
 //@media (min-width: 1200px)

 /* Desktop Wide */
 //@media (min-width: 1400px)
