{% extends 'base-js.html.twig' %}

{% block body %}
{#dump(essai)#}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div id="root"></div>
		<script src="{{asset('js/app.js')}}"></script>
		<script>require('src/index');</script>
	{% else %}
		<div class="presentation container admin col-12">
			<h1>big bang Agenda</h1>
			<div class="info col-lg-5 col-xs-12  ">
				<h2>Vous êtes profs ? Vous êtes élèves ? Vous êtes une associations avec des cours particuliers ? Alors Big Bang Agenda est fait pour vous</h2>

				<p><strong>C'est quoi ?</strong> Un agenda interactif</p>
				<p><strong>Pour qui ?</strong> Toute organisation ou association qui donne des cours ou simplement crée des événements</p>
				<p><strong>Dans quel but ?</strong> Avoir un suivi de ses activités au sein de sa structure et pouvoir facilement avertir de son absence aux différentes activités, permettre au prof et aux élèves un suivi de leurs évolutions.</p>
				<p><strong>Prochaines fonctionnalités :</strong> Ajout d'événements pour tous les utilisateurs, gestion des cours en groupe, système de messagerie</p>
			</div>
			<div class="image col-lg-7 col-xs-12">
				<img src="{{ asset('images/agenda.png') }}" alt="exemple agenda">
			</div>
			<div class="prix col-lg-12">

			</div>
		</div>

	{% endif %}
{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet">
{% endblock %}
{% block javascripts %}

<script src="https://use.fontawesome.com/d21c915728.js"></script>

{% endblock %}
