$datepicker__border-color = #aeaeae
$datepicker__background-color = #f0f0f0
$datepicker__selected-color = #216ba5
$datepicker__highlighted-color = #3dcc4a
$datepicker__muted-color = #cccccc
$datepicker__text-color = black
$datepicker__font-size = 0.8rem
$datepicker__border-radius = 0.3rem
$datepicker__item-size = 1.7rem
$datepicker__day-margin = 0.166rem
$datepicker__triangle-size = 8px
$datepicker__margin = 0.4rem
$datepicker__navigation-size = 0.45rem
