@import '../var.styl'
/* Mobile First CSS */
#nextActivities
  padding: 0.5em 0.5em 0.5em 0.5em
  background: #000
  min-height: 100px
  width: 100%
  color: #FFF
  position: absolute
  left: 0px
  top: 0px
  transition: all 1s
  & h1
    font-size: 1.3em
    color: #FFF
    padding: 0
    margin-bottom: .5em
    font-family: font-title
    font-weight: normal

.dayActivities
  cursor: pointer
  margin: .2em
  display: inline-block
  &:first-letter
    text-transform: uppercase
  &:hover
    text-decoration: underline
    color:#9b35a5
/* Tablettes */
//@media (min-width: 750px)
/* Desktop */
@media (min-width: 1000px)
  #nextActivities
    padding: 1em 1em 1em 2em
    color: #FFF
    & h1
      font-size: 1.5em
